<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="sidebar" class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">Handok IT</div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action bg-light" href="/index">일정</a>
            <a class="list-group-item list-group-item-action bg-light" href="/biz-report">업무보고</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">작업계획서</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">작업완료보고서</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">게시판</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">통계</a>
            <a class="list-group-item list-group-item-action bg-light" href="#">휴가</a>
        </div>
    </div>
</html>