<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
  <title>HDC 이메일 인증</title>
</head>
<body>
  <div class="vh-100 d-flex flex-column justify-content-center align-items-center">
    <img width="30%" th:src="@{/img/loading.gif}" src="/img/loading.gif" alt="">
    <h4>관리자에게 이메일을 전송하였습니다. 이메일이 인증되면 계정이 활성화됩니다.</h4>
  </div>
  <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
  <script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</body>
</html>