<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">
  <title>HDC 이메일 인증</title>
</head>
<body>
<div class="vh-100 d-flex flex-column justify-content-center align-items-center">
  <img width="10%" th:src="@{/img/green-check.png}" src="/img/green-check.png" alt="">
  <br>
  <br>
  <h4>이메일 인증이 정상적으로 처리되었습니다.</h4>
</div>
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.16.0/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>
</body>
</html>