<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}">

  <!-- Custom styles for this template -->
  <link rel="stylesheet" th:href="@{/css/sign.css}">

  <title>Handok IT Login</title>
</head>

<body class="js-background">
<div id="container-signin-card" class="card">
  <div class="card-body">
    <form class="form-signin" th:action="@{/login}" action="/login" method="post">
      <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
      <div class="text-center mb-4">
        <h2 class="h2 mb-3 font-weight-normal">Handok Login</h2>
      </div>

      <div class="form-label-group">
        <input type="text" id="inputName" name="username" class="form-control" placeholder="nickname" required autofocus>
        <label for="inputName">Username</label>
      </div>

      <div class="form-label-group">
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <label for="inputPassword">Password</label>
      </div>

      <div class="checkbox mb-4">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-outline-primary btn-block" value="Login" type="submit">Sign In</button>
      <hr>
      <!--TODO 이 곳에서 로그인 실패 시 메세지 출력-->
      <div th:if="${param.error}"></div>
      <h5 class="h5 font-weight-normal text-center">Don't have an Account?</h5>
      <h3 class="h3 mb-3 font-weight-normal text-center">Register Here</h3>
      <button id="btn-signup" class="btn btn-lg btn-outline-info btn-block" type="button">Sign Up</button>
      <p class="mt-3 mb-3 text-muted text-center">Copyright&copy; 2021<br>irostub & diph All rights reserved</p>
    </form>
  </div>
</div>
<th:block th:replace="page/signup :: signup-card"/>

<th:block th:replace="fragments/scripts ::scripts"/>
<script type="text/javascript" th:src="@{/js/login.js}" src="../../static/js/login.js"></script>
<script type="text/javascript" th:src="@{/js/background.js}" src="../../static/js/background.js"></script>
</body>
</html>
